.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 300px;
    background-color: black;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

h1{
    color: silver;
    margin-top: 0;
    text-align: center;
}

input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}

button{
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

p{
    color: silver;
}